.song-container{
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img{
    width: 20%;
    border-radius: 50%; 
  }
  h2{
    padding: 3rem 1rem 1rem 1rem;
  }
  h3{
    font-size: 1rem;
    font-weight: 200;
  }
  .spotify-logo{
    margin-top: 10px;
    width: 2%;
  }
  

}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.spin{
  animation: rotation 15s infinite linear;
  // transform: rotate(25deg);
}

@media screen and (max-width: 768px) {
  .song-container{
    img{
      width: 50%;
    }
  }
  
}
